*{
  margin: 0;
  padding: 0;
}
.upper-container{
  text-align: center;
  margin-top: 38px;
}
.search-bar{
  padding: 10px;
  border: 2px solid black;
  margin-top: 30px;
  font-size: large;
  
}
.btn{
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width:1100px;
  flex-wrap: wrap;
  margin: 52px auto 0 auto;
  margin-bottom: 27px;
}
.nested-container{
  margin-left: 30px;
}
img{
  width:100px;
  height: 100px;
}
p{
  font-weight: bold;
}

.container-item{
  width: 32%;
  display: flex;
  margin-bottom: 32px;
}

.repo-link{
  text-decoration: none;
  font-size: large;
  border: 2px solid black;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.repos{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  
}
h2{
  margin-left: 300px;
  margin-bottom:30px ;
}